<div class="login-wrapper">
  <p-card class="login-card">
    <ng-template pTemplate="header">
      <div class="card-header">
        <h1>Login</h1>
      </div>
    </ng-template>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
      <div class="my-8">
        <p-floatlabel>
          <input class="w-full" pInputText id="username" formControlName="username" />
          <label for="username">Usuário</label>
        </p-floatlabel>
      </div>

      <div class="my-8">
        <p-floatlabel>
          <p-password
            class="block w-full"
            inputId="password"
            formControlName="password"
            [feedback]="false"
            [toggleMask]="true"
            inputStyleClass="w-full"
          ></p-password>
          <label for="password">Senha</label>
        </p-floatlabel>
      </div>

      <div class="actions">
        <p-button
          class="block my-4"
          type="submit"
          label="Entrar"
          [loading]="loading"
          [disabled]="loading"
          styleClass="w-full"
        ></p-button>
        <p-button
          class="block my-4"
          type="button"
          label="Ver Credenciais de Login"
          severity="info"
          styleClass="w-full"
          [outlined]="true"
          (onClick)="toggleTestCredentials()"
          icon="pi pi-info-circle"
        ></p-button>
      </div>
    </form>

    <ng-template pTemplate="footer">
      <div class="login-footer">
        <div class="signup-prompt">
          <span>Não tem uma conta?</span>
          <p-button
            label="Criar Conta"
            severity="info"
            [text]="true"
            routerLink="/login/signup"
            styleClass="signup-link-btn"
          ></p-button>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>

<!-- Dialog de credenciais de teste -->
<p-dialog
  header="Credenciais de Teste"
  [(visible)]="showTestCredentials"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  [style]="{ width: '800px', maxWidth: '90vw' }"
>
  <p class="text-sm text-gray-600 mb-4">
    <i class="pi pi-info-circle mr-2"></i>
    Use uma das credenciais abaixo para testar o sistema. Clique em "Usar" para preencher
    automaticamente os campos:
  </p>
  <p-table [value]="testUsers" styleClass="p-datatable-sm">
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Usuário</th>
        <th scope="col">Email</th>
        <th scope="col">Senha</th>
        <th scope="col">Ação</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>
          <code class="bg-gray-100 px-2 py-1 rounded text-xs">
            {{ user.password }}
          </code>
        </td>
        <td>
          <p-button
            label="Usar"
            icon="pi pi-arrow-right"
            size="small"
            (onClick)="useTestCredentials(user.username, user.password)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
