<div class="users-management">
  <div class="page-header">
    <h1>Gerenciar Usuários</h1>
    <p-button label="Novo Usuário" icon="pi pi-user-plus" (onClick)="showCreateDialog()"></p-button>
  </div>

  <p-card class="users-table-card">
    <ng-template pTemplate="content">
      <p-table
        [value]="users"
        [paginator]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} usuários"
        [globalFilterFields]="['username', 'email']"
        #dt
      >
        <ng-template pTemplate="caption">
          <div class="table-header">
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-search"></i>
              </p-inputgroup-addon>
              <input
                pInputText
                type="text"
                (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Buscar usuários..."
              />
            </p-inputgroup>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th scope="col">Avatar</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Ações</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user>
          <tr>
            <td>
              <p-avatar
                [label]="user.username | userInitials"
                shape="circle"
                size="normal"
              ></p-avatar>
            </td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
              <p-button
                icon="pi pi-pencil"
                severity="info"
                [text]="true"
                (onClick)="editUser(user)"
                pTooltip="Editar"
              ></p-button>
              <p-button
                icon="pi pi-trash"
                severity="danger"
                [text]="true"
                (onClick)="deleteUser(user)"
                pTooltip="Deletar"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </ng-template>
  </p-card>

  <p-dialog
    header="Gerenciar Usuário"
    [(visible)]="displayDialog"
    [modal]="true"
    [style]="{ width: '600px' }"
    [closable]="true"
  >
    <form [formGroup]="userForm" (ngSubmit)="saveUser()">
      <div class="form-grid mt-4">
        <div class="form-field my-2">
          <p-floatlabel>
            <input id="username" type="text" pInputText formControlName="username" class="w-full" />
            <label for="username">Username *</label>
          </p-floatlabel>
        </div>

        <div class="form-field my-2">
          <p-floatlabel>
            <input id="email" type="email" pInputText formControlName="email" class="w-full" />
            <label for="email">Email *</label>
          </p-floatlabel>
        </div>

        @if (!selectedUser) {
        <div class="form-field my-2">
          <p-floatlabel>
            <p-password
              id="password"
              class="block w-full"
              inputId="password"
              formControlName="password"
              [feedback]="true"
              [toggleMask]="true"
              inputStyleClass="w-full"
            ></p-password>
            <label for="password">Senha *</label>
          </p-floatlabel>
        </div>

        <div class="form-field my-2">
          <p-floatlabel>
            <p-password
              id="confirmPassword"
              class="block w-full"
              inputId="confirmPassword"
              formControlName="confirmPassword"
              [feedback]="false"
              [toggleMask]="true"
              inputStyleClass="w-full"
            ></p-password>
            <label for="confirmPassword">Confirmar Senha *</label>
          </p-floatlabel>
          @if (userForm.get('confirmPassword')?.touched && userForm.hasError('passwordMismatch')) {
          <small class="p-error"> As senhas não coincidem </small>
          }
        </div>
        }
      </div>

      <div class="dialog-footer">
        <p-button label="Cancelar" severity="secondary" (onClick)="hideDialog()"></p-button>
        <p-button label="Salvar" type="submit" [disabled]="userForm.invalid"></p-button>
      </div>
    </form>
  </p-dialog>
</div>
<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>
